<!DOCTYPE html>

<html "{block:English}en{/block:English}{block:French}fr{/block:French}{block:German}de{/block:German}{block:Japanese}ja{/block:Japanese}{block:Italian}it{/block:Italian}{block:Spanish}es{/block:Spanish}{block:Polish}pl{/block:Polish}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width">

    <title>Everyday Africa</title>
    <link rel="stylesheet" href="http://static.tumblr.com/cqczc5x/kYdmihjuj/normalize.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/stylesheet" href="STYLESHEET_URL">
    <script type="text/javascript" src="JQUERY_URL"></script>
    <script type="text/javascript" src="PATHJS_URL"></script>
    <script type="text/javascript" src="REACT_URL"></script>
  </head>
  <body>
    <header></header>

    <section id="content"></section>

    <script type="text/javascript">
    TUMBLRVARS
    </script>

    <script type="text/javascript" src="CONFIG_URL"></script>
    <script type="text/javascript" src="EA_JS_URL"></script>
  </body>
</html>
