<!DOCTYPE html5>

<html5>
  <head>
    <title>Everyday Africa</title>
    <link rel="stylesheet" type="text/stylesheet" href="STYLESHEET_URL">
    <link rel="stylesheet" type="text/stylesheet" href="INSTAFEED_URL">
  </head>
  <body>
    <h1>Africa Everyday.</h1>
  </body>

  <script type="text/javascript">
JAVASCRIPT
  </script>
</html5>
