@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

@nav-background: rgba(255, 255, 255, 0.95);
@nav-height: 64px;

@blue: #4E9DCE;
@grey: grey;
@white: white;
@black: rgb(45, 40, 30);
@font: "Lato", sans-serif;

// TODO: This is going to have to change with the various breakpoints
@ea-image-width: 12%;

@inline-space: 4px;

@small: 480px;
@medium: 900px;

body {
    background-color: #999;
}

a {
  color: @blue;
}

.hide-for-small {
  @media (max-width: @medium) {
    display: none;
  }
}

.hide-for-large {
  @media (min-width: @medium) {
    display: none;
  }
}

.clear {
  clear: both;
}

.close-window, .close-window-overlay{
  display: block;
  position: fixed;
  right: 15px;
  top: 60px;
  width: 32px;
  height: 32px;
  z-index: 9;

  font-size: 24px;
  font-weight: 300;
  line-height: 0px;
  padding: 11px 3px;
  text-decoration: none;

  a {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
  }

  h3 {
    display: block;
  }
}

.close-window-overlay {
  h3 {
    font-size: 30px;
    color: #FFFFFF;
  }
}

.close-window {
  color: #000;

  h3 {
    font-size: 20px;
    color: #000000;
  }
}

#tumblr_controls {
  display: none;
}

// Import other less files
@import "details.less";
@import "navdrawer.less";
@import "nav.less";
@import "gallery.less";
@import "status.less";