@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

@nav-background: #fff;
@nav-height: 64px;

@blue: #609ec9;
@font: "Lato", sans-serif;

// TODO: This is going to have to change with the various breakpoints
@ea-image-width: 10%;

@inline-space: 4px;

@small: 480px;
@medium: 700px;

.hide-for-small {
  @media (max-width: @medium) {
    display: none;
  }
}

.hide-for-large {
  @media (min-width: @medium) {
    display: none;
  }
}

.clear {
  clear: both;
}

// Import other less files
@import "details.less";
@import "navdrawer.less";
@import "nav.less";
@import "gallery.less";