@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

@nav-background: #fff;
@blue: #609ec9;
@font: "Lato", sans-serif;

// TODO: This is going to have to change with the various breakpoints
@ea-image-width: 12%;

@inline-space: 4px;


nav {
  background-color: @nav-background;
  height: 64px;
  position: relative;
  z-index: 2;
  // Temporary bottom border
  border-bottom: 1px solid black;
  
  .nav-panel {
    top: 0;
    position: absolute;
    margin: 0.5em 1em 0.5em 1em;

    img {
      margin-right: 1em;
    }
  }

  #nav-buttons img {
    text-align: left;
  }

  #share-buttons {
    right: 0;

    img {
      text-align: right;
    }
  }

  h1 {
    font-family: @font;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;

    a {
      text-decoration: none;
      color: black;
    }

    .everyday {
      font-weight: 500;
      color: @blue;
    }
  }
}

/****************
 * Image Columns
 */

.left-column, .right-column {
  width: 100% * (3/8);
}

.center-column {
  width: 100% * (1/4);
  position: relative;
  z-index: 1;
  box-shadow: -25px 0 100px black,
              25px 0 100px black;

}

.gallery-column {
  display: inline-block;
  vertical-align: top;

  .image {
    overflow: hidden;
  }

  .tagged-image {
    margin-top: -@inline-space;
    display: inline-block;
  }
}