/**
 * Image Columns
 */

.gallery {
  margin-top: @nav-height;
  position: relative;
}

.left-column, .right-column {
  width: @ea-image-width * 3;
}

.center-column {
  width: 100% - (@ea-image-width * 6);
  position: relative;
  z-index: 1;

  .tagged-image {
    box-shadow: -25px 0 100px black,
                25px 0 100px black;
  }
}

.gallery-column {
  display: inline-block;
  vertical-align: top;

  .image {
    a {
      overflow: hidden;
      display: block;
    }
  }

  .tagged-image {
    margin-top: -@inline-space;
    display: inline-block;

    -webkit-transition: all 0.5s ease;
    transition: all 0.25s ease;
    /*:hover {
      -webkit-transform: scale(1.5);
      transform: scale(1.5);

      -webkit-transition: transform 0.25s ease;
      transition: transform 0.25s ease;
    }*/

    img {
      margin-top: -20%;
      margin-left: -20%;
    }
  }
}

.mobile-row {
  float: left;
}

.mobile.image {
  overflow: hidden;
  float: left;

  img {
    margin-top: -20%;
    margin-left: -20%;
  }
}

.mobile.image.tumblr {
  position: relative;
  z-index: 3;
  box-shadow: -5px 0 40px black,
              5px 0 40px black,
              0 5px 40px black,
              0 -5px 40px black;
}

// The instagram image col to the left or right of a tumblr col
.single-col {
  width: 33.333%;

}
.single-col.right {
  float: right;
}

.single-col.left {
  float: left;
}