/**
 * Nav bar
 */

nav {
  background-color: @nav-background;
  height: @nav-height;
  position: fixed;
  top: 0;
  left: 0px;
  width: 100%;
  z-index: 10;
  // Temporary bottom border
  border-bottom: 1px solid black;

  .nav-panel {
    top: 0;
    position: absolute;
    margin: 10px 0 0.5em 0;

    img {
      margin-right: 1em;
      width: 1.5em;
    }
  }

  #nav-hamburger {
    // TODO remove this when unnecesarry
    z-index: 20;
    padding-right: 10px;
    padding-top: 6px;
    padding-left: 20px;
    @media (min-width: @medium) {
      display: none;
    }
  }

  #nav-buttons {
    min-width: 320px;
    ul {
      list-style: none;
      margin: 0;
      padding-left: 20px;

      @media (max-width: @medium) {
        padding-left: 10px;
        margin-top: 0px;
        margin-bottom: 0px;

        img {
          width: 20px;
        }
      }
      li {
        display: block;
        float: left;
        height: 55px;
      }
    }

    img {
      vertical-align: middle;
      margin-bottom: 4px;
      margin-top: 10px;
    }
    .navlist {
      display: none;
      @media (max-width: @medium) {
        display: inline-block;
        font-size: 1.2em;
        font-family: @font;
        font-weight: 900;
        color: #FFF;
        letter-spacing: .2em;
        text-transform: uppercase;
        margin-left: 5px;
        margin-top: 15px;
        vertical-align: middle;
      }
    }
    // #nav-buttons small screen styling
    @media (max-width: @medium) {
        display: none;
        margin-top: 64px;
        margin-left: -5px;
        padding-bottom: 2px;
        background-color: @blue;
        opacity: 1;
        li {
          clear: both;
          border-bottom: 2px solid #FFF;
          width: 100%;
        }

        li:last-child {
          border-bottom: 0px;
        }

        img {
          vertical-align: middle;
          padding-top: 5px;
        }
    }
  }

  #share-button {
    display: none;
    top: 12px;
    right: 28px;
    position: fixed;
    @media (max-width: @medium) {
      display: block;
      img {
        width: 26px;
      }
    }
  }
  #share-buttons {
    right: 0;
    margin-top: 8px;
    @media (max-width: @medium) {
      margin-top: 65px;
      background-color: #FFF;
      padding-right: 10px;
      padding-bottom: 10px;
      opacity: 0.95;
      border-bottom-left-radius: 5px;
      border-width: 1.5px;
      border-color: @blue;
      border-bottom-style: solid;
      border-left-style: solid;
    }

    ul {

      li {
        display: inline-block;
        float: left;
        @media (max-width: @medium){
          clear: both;
          display: block;
          float: right;
        }
      }
    }

    img {
      width: 20px;
      @media (max-width: @medium){
        width: 26px;
        padding-top: 10px;
        opacity: 1.0;
      }
    }
  }

  // Everyday Africa Logo
}

.everydayafrica {
  margin-top: 15px;
  h1 {
    font-family: @font;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    margin: 0.35em 0;
    font-size: 1.6em;

    @media (max-width: @small) {
      margin-top: 18px;
      font-size: 1.4em;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .everyday {
      font-weight: 500;
      color: @blue;
    }
  }
}