#nav-drawer {
  top: @nav-height;
  z-index: 4;
  background: rgba(255, 255, 255, 0.9);
  position: fixed;
  width: 100%;
  border-bottom: 1px solid black;
  padding-left: 15px;
  padding-right: 15px;


  > div h3 {
    text-transform: uppercase;
    font-family: "Lato";
    margin-left: 1em;
  }

  .grid {
    overflow-y: scroll;
    display: inline-block;
    max-height: 650px;
  }

  .grid-item {
    float: left;
    width: 8em;
    height: 8em;

    a {
      display: block;
      width: 100%;
      font-family: "Lato";
      color: black;
      text-decoration: none;

      img {
	display: block;
	margin: 0 auto;
      }

      h4 {
	text-align: center;
	margin: 0;
      }
    }

    a:hover {
      color: black;
      text-decoration: none;
    }
  }

  .photographers {
    .photographer {
      margin: 0.5em 1em;
    }

    img {
      width: 80px;
      border-radius: 150px;
      -webkit-border-radius: 150px;
      -moz-border-radius: 150px;

      .protogimg {
	margin-top: 10px;
      }
    }
  }

  .search {
    padding-bottom: 1em;
    width: 100%;

    input {
      display: block;
      width: 90%;
      background-color: inherit;
      border: none;
      font-size: 3em;
      margin: 0 auto;

      border-bottom: 2px solid @grey;
      max-width: 80%;
    }

    input:focus {
      color: @blue;
      outline: 0;
      border-bottom-color: @blue;
    }
  }

  .about {
    margin-top: 1em;

    .about-nav {
      width: 20%;
      float: left;
    }

    .nav-list {
      list-style: none;
      text-transform: uppercase;

      li {
	margin: 0.2em;
	font-size: 1.4em;
	font-family: @font;
	font-weight: 400;
	color: @blue;
      }

      .active a {
	color: black;
      }

      .inactive a {
	color: @blue;
      }
    }

    .about-page {
      @media (min-width: @medium) {
        float: right;
        width: 70%;
	margin-right: 10%;
      }

      @media (max-width: @medium) {
        float: inherit
        width: 100%;
      }
    }
  }


  .nav-list {
    ul {
      list-style-type: none;
      font-size: 1.12em;
    }

    a {
      text-decoration: none;
      color: black;
    }

    a:hover {
      color: @blue;
      text-decoration: underline;
    }
  }

  .about-info {
    font-size: 1.2em;
    line-height: 1.2em;
  }

  .tumblr-share {
    height: 48px;
    margin-right: 28px;
    text-align: right;

    > * {
      height: 28px;
      margin-top: 10px;
      display: inline-block;
      vertical-align: top;
      margin-left: 0.5em;
      border-radius: 2px;
    }

    > a > img {
      border-radius: 2px;
      height: 28px;
    }

    .follow {
      background-color: @blue;

      a {
	margin: 5px;
	display: inline-block;
	color: white;
	text-decoration: none;
      }
    }
  }
}
